<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet"/>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/heart.css}">
    <link rel="stylesheet" th:href="@{/css/reviewlist.css}">
  </th:block>
  <div layout:fragment="content">

    <!-- END nav -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg')" data-stellar-background-ratio="0.5">
      <div class="overlay">
        <div class="container">
          <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
              <p class="breadcrumbs mb-2">
                <span class="mr-2">
                  <a th:href="@{/}">Home
                    <i class="ion-ios-arrow-forward"></i>
                  </a>
                </span>
                <span class="mr-2">
                  <a th:href="@{/adopt/list}">입양
                    <i class="ion-ios-arrow-forward"></i>
                  </a>
                </span>
                <span class="mr-2">
                  <a th:href="@{/review/list}">입양후기
                    <i class="ion-ios-arrow-forward"></i>
                  </a>
                </span>
                <span class="mr-2">
                  <a th:href="@{/member/profile}">마이페이지
                    <i class="ion-ios-arrow-forward"></i>
                  </a>
                </span>
                <!-- <span>Blog Single <i class="ion-ios-arrow-forward"></i></span> -->
              </p>
              <!--<h1 class="mb-0 bread" th:text="${dto.title}">Blog</h1>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <form class="d-flex" role="search" id="searchForm">
          <!-- 검색 후 결과 페이지는 1로 보여주기 -->
          <input type="hidden" name="page" value="1"/>
          <select name="type" id="type" class="form-select me-2">
            <option value="" th:selected="${requestDto.type == null}">조건 선택</option>
            <option value="t" th:selected="${requestDto.type == 't'}">제목</option>
            <option value="w" th:selected="${requestDto.type == 'w'}">작성자</option>
          </select>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" id="keyword" th:value="${requestDto.keyword}"/>
          <!-- search 클릭 시, keword, type - requestdto로 넘어감 -->
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="m-3 row justify-content-end">
          <a th:href="@{/review/register}" class="btn btn-primary m-2" sec:authorize="hasRole('ROLE_MEMBER')">글쓰기</a>
          <button class="btn btn-warning m-2 btn-open-modal" id="heartList" sec:authorize="hasRole('ROLE_MEMBER')">내가 좋아요한 목록</button>
        </div>
        <div class="modal">
          <div class="hartlistContainer modal-body">
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item">An item</li> -->
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <!-- 여기 div가 반복될 예정 -->
          <div th:each="dto : ${result.dtoList}" class="col-md-6 col-lg-3 ftco-animate">
            <div class="staff">
              <!-- style="background-image: url(images/staff-1.jpg)" -->
              <a th:href="|/upload/display?fileName=${dto.reviewImageDtos[0].getImageURL()}|" class="icon image-popup d-flex justify-content-center align-items-center" th:if="${dto.reviewImageDtos.size() > 0 && dto.reviewImageDtos[0].path != null}">
                <div class="img-wrap d-flex align-items-stretch">
                  <img class="img align-self-stretch" th:src="|/upload/display?fileName=${dto.reviewImageDtos[0].getImageURL()}|" loading="lazy"/>
                </div>
              </a>
              <!-- 기본이미지 -->
              <a th:href="@{/assets/images/animal.jpg}" class="icon img image-popup d-flex justify-content-center align-items-center" th:if="${dto.reviewImageDtos[0].path == null}">
                <div class="img-wrap d-flex align-items-stretch">
                  <img class="img align-self-stretch" th:src="@{/assets/images/animal.jpg}" loading="lazy"/>
                </div>
              </a>
              <a th:href="@{/review/read(rno=${dto.rno},page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}">
                <div class="text pt-3 px-3 pb-2 text-center">
                  <h3 th:text="${dto.title}"></h3>
                  <span class="position mb-2" th:text="${dto.nickname}"></span>
                  <div class="faded">
                    <p>댓글 [<span th:text="${dto.replyCount}"></span>] 조회수 [<span th:text="${dto.viewCount}"></span>] 좋아요 [<span th:text="${dto.heartCount}"></span>]</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 여기까지 -->
        </div>
        <!-- 페이지 버튼 영역 -->
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul class="pagination justify-content-center">
                <li th:if="${result.prev}" class="">
                  <a class="" th:href="@{list(page=${result.start-1}, type=${requestDto.type}, keyword=${requestDto.keyword})}">&lt;</a>
                </li>

                <li th:each="page : ${result.pageList}" class="" th:class="${result.page == page ? 'active' : ''}">
                  <a th:href="@{list(page=${page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" th:text="${page}" class="text-center"></a>
                </li>

                <li th:if="${result.next}" class="">
                  <a class="" th:href="@{list(page=${result.end+1}, type=${requestDto.type}, keyword=${requestDto.keyword})}">&gt;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
</div>

<th:block layout:fragment="script">
  <script>
    const allLi = document.querySelectorAll(".nav-item");
    const mid = "[[${#authentication.principal}eq('anonymousUser') ? 'anonymousUser' : ${#authentication.principal.memberDto.mid}]]"
  </script>
  <script th:src="@{/js/reviewList.js}"></script>
</th:block>

</html>
