<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet" />
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/heart.css}">
  </th:block>
  <div layout:fragment="content">
    <!-- END nav -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2">
              <span class="mr-2"
                ><a th:href="@{/}">Home <i class="ion-ios-arrow-forward"></i></a
              ></span>
              <span class="mr-2"
                ><a th:href="@{/review/list}">입양후기 <i class="ion-ios-arrow-forward"></i></a
              ></span>
              <span>Blog Single <i class="ion-ios-arrow-forward"></i></span>
            </p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <div>조회수 [<span th:text="${dto.viewCount}"></span>]</div>
            <div class="uploadResult mb-4">
              <ul>
                <li th:each="image : ${dto.reviewImageDtos}" th:attr="data-file=${image.getImageURL()}" style="list-style-type: none;">
                  <img class="block" th:if="${image.path != null}" th:src="|/upload/display?fileName=${image.getImageURL()}|" />
                </li>
              </ul>
            </div>
            <h2 class="mb-3" th:text="${dto.title}">title 글 제목 들어갈 자리</h2>
            <p th:text="${dto.text}">
              text 내용 들어갈 자리
            </p>
            <div class="tag-widget post-tag-container mb-5 mt-5" sec:authorize="hasRole('ROLE_MEMBER')" th:if="${#authentication.principal.memberDto.email == dto.email}">
              <div class="">
                <a th:href="@{/review/modify(rno=${dto.rno},page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" class="btn btn-warning">수정</a>
                <a href="" class="btn btn-danger">삭제</a>
                <a th:href="@{/review/list(page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" class="btn btn-primary">목록</a>
              </div>
                <form method="post" id="actionForm" th:action="@{/review/remove}">
                  <input type="hidden" name="rno" th:value="${dto.rno}" />
                  <input type="hidden" name="page" th:value="${requestDto.page}" />
                  <input type="hidden" name="type" th:value="${requestDto.type}"/>
                  <input type="hidden" name="keyword" th:value="${requestDto.keyword}" />
                </form>
            </div>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4" />
              </div>
              <div class="desc">
                <h3 th:text="${dto.nickname}">멤버 정보</h3>
                <p th:text="${dto.email}">
                  멤버 정보
                </p>
              </div>
            </div>

            <!-- reply 들어갈 자리 -->
            <div class="pt-5 mt-5">
              <h3 class="mb-5" sec:authorize="hasRole('ROLE_MEMBER')"><span><div class="" id="heart" ></div> <span class="heartCount" th:text="${dto.heartCount}"></span></h3>
              <h3 class="mb-5"><span>[<span class="review-cnt" th:text="${dto.replyCount}"></span>] Comments</h3>
              <!-- <div
                class="flex items-center justify-between p-3 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
              >
                <span>
                  <button
                    class="px-1 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-full active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    aria-label="Edit"
                  >
                    <svg class="review-edit w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                      ></path>
                    </svg>
                  </button>
                </span>
              </div> -->
              <!-- js 에서 처리할꺼임 -->
              <div class="comment-form-wrap p-5" sec:authorize="hasRole('ROLE_MEMBER')">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="/review/add" class="review-form p-5 bg-light " method="post">
                  <input type="hidden" name="mid" id="mid" th:value="${#authentication.principal.memberDto.mid}" />
                  <input type="hidden" name="replyNo" id="replyNo"/>
                  <div class="form-group">
                    <label for="name">닉네임 *</label>
                    <input type="text" class="form-control" name="nickname" id="nickname" th:value="${#authentication.principal.memberDto.nickname}" readonly/>
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" name="email" id="email" th:value="${#authentication.principal.memberDto.email}" readonly/>
                  </div>
                  <div class="form-group">
                    <label for="message">text</label>
                    <textarea name="text" id="text" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn py-3 px-4 btn-primary">댓글 등록</button>
                  </div>
                </form>
              </div>

              <ul class="comment-list replyList" id="replyList">
                <!-- <li class="comment">
                  <div class="vcard bio">
                    <img src="images/person_1.jpg" alt="Image placeholder" />
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">April 7, 2020 at 10:05pm</div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum
                      officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    </p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/person_1.jpg" alt="Image placeholder" />
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">April 7, 2020 at 10:05pm</div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum
                      officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    </p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img src="images/person_1.jpg" alt="Image placeholder" />
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta">April 7, 2020 at 10:05pm</div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem,
                          eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        </p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>

                      <ul class="children">
                        <li class="comment">
                          <div class="vcard bio">
                            <img src="images/person_1.jpg" alt="Image placeholder" />
                          </div>
                          <div class="comment-body">
                            <h3>John Doe</h3>
                            <div class="meta">April 7, 2020 at 10:05pm</div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                              autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                            </p>
                            <p><a href="#" class="reply">Reply</a></p>
                          </div>

                          <ul class="children">
                            <li class="comment">
                              <div class="vcard bio">
                                <img src="images/person_1.jpg" alt="Image placeholder" />
                              </div>
                              <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta">April 7, 2020 at 10:05pm</div>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit
                                  vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                </p>
                                <p><a href="#" class="reply">Reply</a></p>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/person_1.jpg" alt="Image placeholder" />
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">April 7, 2020 at 10:05pm</div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum
                      officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    </p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li> -->
              </ul>
              <!-- END comment-list -->

              
            </div>
          </div>
          <!-- .col-md-8 -->
        </div>
      </div>
    </section>
    <!-- .section -->
  </div>
    <th:block layout:fragment="script"> 
      <script>
        const replyList = document.querySelector(".replyList");
        const rno = "[[${dto.rno}]]";
        const title = "[[${dto.title}]]";

        const user = "[[${#authentication.name}]]";
        const mid = "[[${#authentication.principal}eq('anonymousUser') ? 'anonymousUser' : ${#authentication.principal.memberDto.mid}]]"
        const nickname = "[[${#authentication.principal}eq('anonymousUser') ? 'anonymousUser' : ${#authentication.principal.memberDto.nickname}]]"

      </script>
      <script th:src="@{/js/reply.js}"></script>
      <script th:src="@{/js/heart.js}"></script>
    </th:block>
</html>
