/* read 보호소이름 */
.carename {
  width: 100%;
  font-size: 18px;
}

/* read 보호소 이미지 */
.carename img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
}

/* list 제목 */
.listname {
  margin-top: 0px;
}

/* list 제목 */
.listname .faded {
  margin-bottom: 0px;
  line-height: 1.2;
}

.heartCnt {
  color: palevioletred;
  font-size: 15px;
}

.animalHeartCount {
  margin-bottom: 0px;
  line-height: 1.2;
  text-align: center;
}

.searchdes .form-control {
  width: 50%;
  height: 50%;
  max-width: 500px;
  min-width: 120px;
  position: relative;
  height: 52px;
  background: #fff !important;
  color: #000000 !important;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* 입양read부분 */
.animaltext {
  width: 100%;
  height: 100%;
}

/* 댓글 삭제/수정칸 */
.delete {
  float: left;
  margin-right: 1px;
}

/* cart.html table, rowItems*/
.deleteCartForm {
  text-align: center;
}

/* cart 부분 */
.cart-class {
  margin-bottom: 30px;
}

.cartname {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* 검색부분 */
.search option {
  text-align: center;
}

/* 하트색깔 */
.full {
  color: indianred;
}

.animalHeartCount {
  float: left;
}

/* 하트 거리 */
#animalHeart {
  margin-left: 4px;
  padding-left: 9px;
}

/* 하트 영역 */
.good {
  margin-left: 5px;
  margin-top: 50px;
}

/* 댓글 삭제 영역 */
.animalReviewdel {
  position: absolute;
  right: 55px;
  margin: 0px;
  padding: 4px;
  border-radius: 5px;
}

.animalReviewMod {
  position: absolute;
  right: 100px;
  margin: 0px;
  padding: 4px;
  border-radius: 5px;
}

/* 댓글 영역 */
.animalReviewMod {
  margin-left: 6px;
  padding-left: 9px;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* missing 댓글 삭제 영역 */
.missingdel {
  position: absolute;
  right: 200px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}
.missingMod {
  position: absolute;
  right: 250px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}

/* missing 이미지 영역 */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.onebonimg {
  width: 300px;
  height: 300px;
}

.missingtitle p {
  font-size: 19px;
  color: #000000;
}

.missimg {
  width: 210px;
  height: 210px;
}

.adopt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-cnt {
  text-align: left;
  flex: 1;
  display: flex;
  align-items: center;
}

.animalHeart {
  margin-right: 10px;
}

.animalHeartCount {
  display: inline-block;
  margin-left: 10px;
}

.image-card-container {
  display: flex;
  align-items: flex-start;
  height: 400px;
}
.image-card-container img {
  margin-right: 20px;
}

.card shadow-2dp {
  height: 400px;
}

/* missing 블로그 선 긋기 */
.jb-division-line {
  border-top: 1px solid #444444;
  margin: 30px 0px;
}

.animalinfo {
  line-height: 40px;
  text-indent: 4%;
  list-style-image: url("/images/dog10.jpg");
}

.adoptline {
  margin-top: 130px;
}

/* 찜목록 위치 바꾸기 */
.overlay {
  position: relative;
}

.overlay .cart-btn i {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
body .overlay .cart-btn i:hover {
  color: #2ecc71;
}

.cart-btn {
  position: absolute;
  bottom: 20px;
  left: 90%;
  width: 150px;
  height: 80px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: none;
}

.cart-btn:focus {
  outline: none !important;
}

.addCartButton {
  text-align: center;
  margin-left: 550px;
}

.adoptzzim {
  margin-right: 3px;
}

/* form 요소들을 가로로 나열하고 간격을 조정합니다 */
.d-flex {
  display: flex;
  align-items: center; /* 요소들을 세로 중앙 정렬합니다 */
}

/* 조건 선택 드롭다운과 검색 입력 창 사이의 간격을 조정합니다 */
.form-select.search,
.form-control {
  margin-right: 10px; /* 필요에 따라 조정하세요 */
  height: 38px !important; /* 입력 요소들의 높이를 일치시킵니다 */
  font-size: 14px; /* 필요에 따라 글꼴 크기를 조정하세요 */
}

/* "Search" 버튼의 스타일을 설정합니다 */
.adoptsubmit,
.missingsubmit {
  padding-top: 9px; /* 버튼 내 텍스트를 세로 방향으로 중앙 정렬합니다 */
  padding-bottom: 9px; /* 버튼 내 텍스트를 세로 방향으로 중앙 정렬합니다 */
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px; /* 필요에 따라 글꼴 크기를 조정하세요 */
  height: 38px; /* 입력 요소들의 높이를 일치시킵니다 */
  min-width: 100px; /* 최소 너비를 지정하여 버튼의 크기를 유지합니다 */
  text-align: center;
}

/* "개씩" 선택 드롭다운의 스타일을 설정합니다 */
#size {
  height: 38px; /* 입력 요소들의 높이를 일치시킵니다 */
  font-size: 14px; /* 필요에 따라 글꼴 크기를 조정하세요 */
}

/* missing 검색창 */
.missingsearch {
  height: 35px;
  margin-right: 10px;
}
