/* read 보호소이름 */
.carename {
  width: 120%;
  font-size: 18px;
}

/* read 보호소 이미지 */
.carename img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
}

/* list 제목 */
.listname {
  margin-top: 0px;
}

/* list 제목 */
.listname .faded {
  margin-bottom: 0px;
  line-height: 1.2;
}

.heartCnt {
  color: palevioletred;
  font-size: 15px;
}

.animalHeartCount {
  margin-bottom: 0px;
  line-height: 1.2;
  text-align: center;
}

.searchdes .form-control {
  width: 50%;
  height: 50%;
  max-width: 500px;
  min-width: 120px;
  position: relative;
  height: 52px;
  background: #fff !important;
  color: #000000 !important;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* 입양read부분 */
.animaltext {
  width: 100%;
  height: 100%;
}

/* 댓글 삭제/수정칸 */
.delete {
  float: left;
  margin-right: 1px;
}

/* cart.html table, rowItems*/
.deleteCartForm {
  text-align: center;
}

/* cart 부분 */
.cart-class {
  margin-bottom: 30px;
}

.cartname {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* 검색부분 */
.search option {
  text-align: center;
}

/* 하트색깔 */
.full {
  color: indianred;
}

.animalHeartCount {
  float: left;
}

/* 하트 거리 */
#animalHeart {
  margin-left: 6px;
  padding-left: 9px;
}

/* 하트 영역 */
.good {
  margin-left: 5px;
  margin-top: 50px;
}

/* 댓글 삭제 영역 */
.animalReviewdel {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
}

.animalReviewMod {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
}

/* 댓글 영역 */
.animalReviewMod {
  margin-left: 6px;
  padding-left: 9px;
}
