.missnickname {
  background-color: #9eb2c49c !important;
}

.missemail {
  background-color: #9eb2c49c !important;
}

.modnickname {
  background-color: #9eb2c49c !important;
}

.modemail {
  background-color: #9eb2c49c !important;
}
