.seoul {
  background-color: rgb(50, 55, 58);
}

.table-dark {
  background-color: rgb(50, 55, 58);
}

.table-dark thead th {
  border-bottom-color: rgba(240, 248, 255, 0.886);
  border-top: solid 2px rgba(240, 248, 255, 0.886);
}

.seoulTitle {
  color: rgba(255, 255, 255, 0.945);
  border-top: solid 7px #fc9e7b;
}

#chartNavbar {
  border-radius: 50px;
  position: sticky;
  bottom: 10px;
  left: 165px;
}

#section-counter {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(50, 55, 58);
  border-top: solid 7px #fc9e7b;
}

.ftco-counter .text .number,
.ftco-counter .text span {
  color: #fc9e7b;
}

#chartContainer1 {
  width: 560px;
  height: 450px;
  display: inline-block;
}

#chartContainer2 {
  width: 543px;
  height: 450px;
  display: inline-block;
}

/* .donut_chart {
  position: relative;
  width: 50%;
  height: 400px;
  display: inline-block;
}

.total_countBox {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.total_countBox p {
  margin: 0px;
} */
